In [44]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [111]:
df_campaign = pd.read_csv("data/Muesli Project raw data - Campaign Data.csv")
df_orders = pd.read_csv("data/Muesli Project raw data - Orders.csv", skiprows=1) # deletes the first row
df_process = pd.read_csv("data/Muesli Project raw data - Order Process Data.csv")
df_intern = pd.read_csv("data/Muesli Project raw data - InternData Study.csv")

In [87]:
df_campaign.head()

         Order ID Arrival Scan Date   Customer Name
0  CA-2019-100041        02/12/2019  Barbara Fisher
1  CA-2019-100083        09/12/2019    Carol Darley
2  CA-2019-100244        30/09/2019    Greg Maxwell
3  CA-2019-100468        09/12/2019     Alyssa Tate
4  CA-2019-100510        28/05/2019     Harry Marie

In [88]:
df_campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           333 non-null    object
 1   Arrival Scan Date  333 non-null    object
 2   Customer Name      333 non-null    object
dtypes: object(3)
memory usage: 7.9+ KB

In [89]:
df_campaign['Arrival Scan Date'] = pd.to_datetime(df_campaign['Arrival Scan Date'], format='%d/%m/%Y')
df_campaign.head()

         Order ID Arrival Scan Date   Customer Name
0  CA-2019-100041        2019-12-02  Barbara Fisher
1  CA-2019-100083        2019-12-09    Carol Darley
2  CA-2019-100244        2019-09-30    Greg Maxwell
3  CA-2019-100468        2019-12-09     Alyssa Tate
4  CA-2019-100510        2019-05-28     Harry Marie

In [90]:
df_orders

,Index,Order ID,Unnamed: 2,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,NaN,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.570,3,0.0,11.7741
1,45,CA-2019-118255,Order ID,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.980,2,0.0,19.7714
2,48,CA-2019-169194,CA-2019-121755,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.000,3,0.0,4.9500
3,60,CA-2019-111682,CA-2019-118255,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.000,2,0.0,3.3000
4,63,CA-2018-135545,CA-2019-169194,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.980,2,0.0,6.1512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9894,US-2019-115441,NaN,25/7/2019,Second Class,SH-19975,Sally Hughsby,Sales,United States,Milwaukee,Wisconsin,53209.0,Central,Toasted Muesli,With Nuts,FUR-CH-10004626,403.560,4,0.0,96.8544
9990,9908,US-2018-129007,NaN,13/9/2018,First Class,KD-16615,Ken Dana,Sales,United States,Anaheim,California,92804.0,West,Toasted Muesli,With Nuts,FUR-CH-10000155,717.720,3,0.2,71.7720
9991,9913,CA-2018-132388,NaN,10/10/2018,First Class,KN-16390,Katherine Nockton,Sales,United States,Santa Barbara,California,93101.0,West,Toasted Muesli,With Nuts,FUR-CH-10001714,362.136,3,0.2,-54.3204
9992,9920,CA-2019-149272,NaN,15/3/2019,Standard Class,MY-18295,Muhammed Yedwab,Sales,United States,Bryan,Texas,77803.0,Central,Toasted Muesli,With Nuts,FUR-CH-10000863,528.430,5,0.3,-143.4310
9993,9948,CA-2020-121559,NaN,1/6/2020,Second Class,HW-14935,Helen Wasserman,Sales,United States,Indianapolis,Indiana,46203.0,Central,Toasted Muesli,With Nuts,FUR-CH-10003746,1925.880,6,0.0,539.2464

In [91]:
# drop column "Unnamed: 2"
df_orders.drop("Unnamed: 2", axis=1, inplace=True)

df_orders.head()

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.0,11.7741
1,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0.0,19.7714
2,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.00,3,0.0,4.9500
3,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.00,2,0.0,3.3000
4,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0.0,6.1512

In [92]:
# transforms "Order Date" from object into datetime
df_orders['Order Date'] = pd.to_datetime(df_orders['Order Date'], format='%d/%m/%Y')
df_orders.head()

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.0,11.7741
1,45,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0.0,19.7714
2,48,CA-2019-169194,2019-06-20,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.00,3,0.0,4.9500
3,60,CA-2019-111682,2019-06-17,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.00,2,0.0,3.3000
4,63,CA-2018-135545,2018-11-24,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0.0,6.1512

In [93]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index           9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   datetime64[ns]
 3   Ship Mode       9994 non-null   object
 4   Customer ID     9994 non-null   object
 5   Customer Name   9994 non-null   object
 6   Origin Channel  9994 non-null   object
 7   Country/Region  9994 non-null   object
 8   City            9994 non-null   object
 9   State           9994 non-null   object
 10  Postal Code     9983 non-null   float64
 11  Region          9994 non-null   object
 12  Category        9994 non-null   object
 13  Sub-Category    9994 non-null   object
 14  Product ID      9994 non-null   object
 15  Sales           9994 non-null   float64
 16  Quantity        9994 non-null   int64
 17  Discount        9994 non-null   float64
 18  Profit          9994 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(12)
memory usage: 1.4+ MB

In [112]:
df_process.head()

   Row ID        Order ID Order Date On Truck Scan Date            Ship Mode
0    3074  CA-2019-125206   3/1/2019         07/01/2019              Express
1    4919  CA-2019-160304   2/1/2019         09/01/2019  Standard Processing
2    4920  CA-2019-160304   2/1/2019         09/01/2019  Standard Processing
3    8604  US-2019-116365   3/1/2019         09/01/2019  Standard Processing
4    8605  US-2019-116365   3/1/2019         09/01/2019  Standard Processing

In [113]:
df_process['Order Date'] = pd.to_datetime(df_process['Order Date'], format='%d/%m/%Y')
df_process['On Truck Scan Date'] = pd.to_datetime(df_process['On Truck Scan Date'], format='%d/%m/%Y')

In [114]:
df_process.head()

   Row ID        Order ID Order Date On Truck Scan Date            Ship Mode
0    3074  CA-2019-125206 2019-01-03         2019-01-07              Express
1    4919  CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
2    4920  CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
3    8604  US-2019-116365 2019-01-03         2019-01-09  Standard Processing
4    8605  US-2019-116365 2019-01-03         2019-01-09  Standard Processing

In [98]:
df_intern.head()

         Order ID Ready to Ship Date Pickup Date
0  CA-2019-100244         24/09/2019  25/09/2019
1  CA-2019-100244         24/09/2019  25/09/2019
2  CA-2019-100244         24/09/2019  25/09/2019
3  CA-2019-100244         24/09/2019  25/09/2019
4  CA-2019-100244         24/09/2019  25/09/2019

In [100]:
df_intern['Ready to Ship Date'] = pd.to_datetime(df_intern['Ready to Ship Date'], format='%d/%m/%Y')
df_intern['Pickup Date'] = pd.to_datetime(df_intern['Pickup Date'], format='%d/%m/%Y')

In [101]:
df_intern.head()

         Order ID Ready to Ship Date Pickup Date
0  CA-2019-100244         2019-09-24  2019-09-25
1  CA-2019-100244         2019-09-24  2019-09-25
2  CA-2019-100244         2019-09-24  2019-09-25
3  CA-2019-100244         2019-09-24  2019-09-25
4  CA-2019-100244         2019-09-24  2019-09-25

In [115]:
# remove all whitespaces and replace them with "_"; make all strings in the header lower case
df_orders.columns = df_orders.columns.str.lower()
df_orders.columns = df_orders.columns.str.replace(" ", "_")
df_orders.columns = df_orders.columns.str.replace("-", "_")
df_orders.columns = df_orders.columns.str.replace("/", "_")

df_campaign.columns = df_campaign.columns.str.lower()
df_campaign.columns = df_campaign.columns.str.replace(" ", "_")

df_process.columns = df_process.columns.str.lower()
df_process.columns = df_process.columns.str.replace(" ", "_")

df_intern.columns = df_intern.columns.str.lower()
df_intern.columns = df_intern.columns.str.replace(" ", "_")

In [116]:
df_intern

           order_id ready_to_ship_date pickup_date
0    CA-2019-100244         24/09/2019  25/09/2019
1    CA-2019-100244         24/09/2019  25/09/2019
2    CA-2019-100244         24/09/2019  25/09/2019
3    CA-2019-100244         24/09/2019  25/09/2019
4    CA-2019-100244         24/09/2019  25/09/2019
..              ...                ...         ...
285  US-2020-163790         04/11/2020  06/11/2020
286  US-2020-165344         16/11/2020  16/11/2020
287  US-2020-165456         03/12/2020  04/12/2020
288  US-2020-168116         04/11/2020  04/11/2020
289  US-2020-168802         09/11/2020  12/11/2020

[290 rows x 3 columns]

In [117]:
df_campaign

           order_id arrival_scan_date       customer_name
0    CA-2019-100041        02/12/2019      Barbara Fisher
1    CA-2019-100083        09/12/2019        Carol Darley
2    CA-2019-100244        30/09/2019        Greg Maxwell
3    CA-2019-100468        09/12/2019         Alyssa Tate
4    CA-2019-100510        28/05/2019         Harry Marie
..              ...               ...                 ...
328  US-2020-139647        15/05/2020        Todd Sumrall
329  US-2020-148551        22/01/2020        David Bremer
330  US-2020-158512        27/01/2020       Dianna Arnett
331  US-2020-163195        02/03/2020  Lauren Leatherbury
332  US-2020-168690        20/01/2020       Thais Sissman

[333 rows x 3 columns]

In [118]:
df_process

,row_id,order_id,order_date,on_truck_scan_date,ship_mode
0,3074,CA-2019-125206,2019-01-03,2019-01-07,Express
1,4919,CA-2019-160304,2019-01-02,2019-01-09,Standard Processing
2,4920,CA-2019-160304,2019-01-02,2019-01-09,Standard Processing
3,8604,US-2019-116365,2019-01-03,2019-01-09,Standard Processing
4,8605,US-2019-116365,2019-01-03,2019-01-09,Standard Processing
...,...,...,...,...,...
5894,908,CA-2020-143259,2020-12-30,2021-01-06,Standard Processing
5895,909,CA-2020-143259,2020-12-30,2021-01-06,Standard Processing
5896,1297,CA-2020-115427,2020-12-30,2021-01-06,Standard Processing
5897,1298,CA-2020-115427,2020-12-30,2021-01-06,Standard Processing
5898,5092,CA-2020-156720,2020-12-30,2021-01-06,Standard Processing

In [119]:
df_process.drop("row_id", axis=1, inplace=True)
df_process

            order_id order_date on_truck_scan_date            ship_mode
0     CA-2019-125206 2019-01-03         2019-01-07              Express
1     CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
2     CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
3     US-2019-116365 2019-01-03         2019-01-09  Standard Processing
4     US-2019-116365 2019-01-03         2019-01-09  Standard Processing
...              ...        ...                ...                  ...
5894  CA-2020-143259 2020-12-30         2021-01-06  Standard Processing
5895  CA-2020-143259 2020-12-30         2021-01-06  Standard Processing
5896  CA-2020-115427 2020-12-30         2021-01-06  Standard Processing
5897  CA-2020-115427 2020-12-30         2021-01-06  Standard Processing
5898  CA-2020-156720 2020-12-30         2021-01-06  Standard Processing

[5899 rows x 4 columns]

In [122]:
df_orders.drop("unnamed:_2", axis=1, inplace=True)
df_orders

,index,order_id,order_date,ship_mode,customer_id,customer_name,origin_channel,country_region,city,state,postal_code,region,category,sub_category,product_id,sales,quantity,discount,profit
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.570,3,0.0,11.7741
1,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.980,2,0.0,19.7714
2,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.000,3,0.0,4.9500
3,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.000,2,0.0,3.3000
4,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.980,2,0.0,6.1512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9894,US-2019-115441,25/7/2019,Second Class,SH-19975,Sally Hughsby,Sales,United States,Milwaukee,Wisconsin,53209.0,Central,Toasted Muesli,With Nuts,FUR-CH-10004626,403.560,4,0.0,96.8544
9990,9908,US-2018-129007,13/9/2018,First Class,KD-16615,Ken Dana,Sales,United States,Anaheim,California,92804.0,West,Toasted Muesli,With Nuts,FUR-CH-10000155,717.720,3,0.2,71.7720
9991,9913,CA-2018-132388,10/10/2018,First Class,KN-16390,Katherine Nockton,Sales,United States,Santa Barbara,California,93101.0,West,Toasted Muesli,With Nuts,FUR-CH-10001714,362.136,3,0.2,-54.3204
9992,9920,CA-2019-149272,15/3/2019,Standard Class,MY-18295,Muhammed Yedwab,Sales,United States,Bryan,Texas,77803.0,Central,Toasted Muesli,With Nuts,FUR-CH-10000863,528.430,5,0.3,-143.4310
9993,9948,CA-2020-121559,1/6/2020,Second Class,HW-14935,Helen Wasserman,Sales,United States,Indianapolis,Indiana,46203.0,Central,Toasted Muesli,With Nuts,FUR-CH-10003746,1925.880,6,0.0,539.2464

In [123]:
df_orders['order_date'] = pd.to_datetime(df_orders['order_date'], format='%d/%m/%Y')
df_orders

,index,order_id,order_date,ship_mode,customer_id,customer_name,origin_channel,country_region,city,state,postal_code,region,category,sub_category,product_id,sales,quantity,discount,profit
0,27,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.570,3,0.0,11.7741
1,45,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.980,2,0.0,19.7714
2,48,CA-2019-169194,2019-06-20,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.000,3,0.0,4.9500
3,60,CA-2019-111682,2019-06-17,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.000,2,0.0,3.3000
4,63,CA-2018-135545,2018-11-24,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.980,2,0.0,6.1512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9894,US-2019-115441,2019-07-25,Second Class,SH-19975,Sally Hughsby,Sales,United States,Milwaukee,Wisconsin,53209.0,Central,Toasted Muesli,With Nuts,FUR-CH-10004626,403.560,4,0.0,96.8544
9990,9908,US-2018-129007,2018-09-13,First Class,KD-16615,Ken Dana,Sales,United States,Anaheim,California,92804.0,West,Toasted Muesli,With Nuts,FUR-CH-10000155,717.720,3,0.2,71.7720
9991,9913,CA-2018-132388,2018-10-10,First Class,KN-16390,Katherine Nockton,Sales,United States,Santa Barbara,California,93101.0,West,Toasted Muesli,With Nuts,FUR-CH-10001714,362.136,3,0.2,-54.3204
9992,9920,CA-2019-149272,2019-03-15,Standard Class,MY-18295,Muhammed Yedwab,Sales,United States,Bryan,Texas,77803.0,Central,Toasted Muesli,With Nuts,FUR-CH-10000863,528.430,5,0.3,-143.4310
9993,9948,CA-2020-121559,2020-06-01,Second Class,HW-14935,Helen Wasserman,Sales,United States,Indianapolis,Indiana,46203.0,Central,Toasted Muesli,With Nuts,FUR-CH-10003746,1925.880,6,0.0,539.2464

In [124]:
merge_df = pd.merge(df_orders, df_campaign, on="order_id", how="outer")
merge_df

,index,order_id,order_date,ship_mode,customer_id,customer_name_x,origin_channel,country_region,city,state,...,region,category,sub_category,product_id,sales,quantity,discount,profit,arrival_scan_date,customer_name_y
0,27,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.570,3,0.0,11.7741,NaN,NaN
1,26,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,West,Power Muesli,Super Fibre Boost,OFF-BI-10001634,11.648,2,0.2,4.2224,NaN,NaN
2,45,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.980,2,0.0,19.7714,NaN,NaN
3,46,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,Central,Power Muesli,Super Fibre Boost,OFF-BI-10003291,17.460,2,0.0,8.2062,NaN,NaN
4,48,CA-2019-169194,2019-06-20,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,...,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.000,3,0.0,4.9500,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9760,CA-2019-146913,2019-10-31,Standard Class,SF-20965,Sylvia Foulston,Sales,United States,San Francisco,California,...,West,Toasted Muesli,With Nuts,FUR-CH-10001854,1403.920,5,0.2,70.1960,11/11/2019,Sylvia Foulston
9990,9787,US-2017-114377,2017-11-05,First Class,BG-11035,Barry Gonzalez,Email,United States,Hampton,Virginia,...,South,Toasted Muesli,With Nuts,FUR-CH-10004754,149.900,5,0.0,40.4730,NaN,NaN
9991,9808,CA-2020-107209,2020-07-27,Second Class,JW-15955,Joni Wasserman,Email,United States,Raleigh,North Carolina,...,South,Toasted Muesli,With Nuts,FUR-CH-10001146,194.848,4,0.2,12.1780,NaN,NaN
9992,9830,US-2020-152842,2020-07-16,Standard Class,NF-18385,Natalie Fritzler,Email,United States,Charlotte,North Carolina,...,South,Toasted Muesli,With Nuts,FUR-CH-10004218,242.352,3,0.2,15.1470,NaN,NaN
9993,9880,CA-2019-122581,2019-08-21,Standard Class,JK-15370,Jay Kimmel,Email,United States,New York City,New York,...,East,Toasted Muesli,With Nuts,FUR-CH-10002961,573.174,7,0.1,63.6860,NaN,NaN

In [125]:
merge_1_df = pd.merge(df_intern, df_process, on="order_id", how="outer")
merge_1_df

,order_id,ready_to_ship_date,pickup_date,order_date,on_truck_scan_date,ship_mode
0,CA-2019-100244,24/09/2019,25/09/2019,2019-09-20,2019-09-25,Standard Processing
1,CA-2019-100244,24/09/2019,25/09/2019,2019-09-20,2019-09-25,Standard Processing
2,CA-2019-100244,24/09/2019,25/09/2019,2019-09-20,2019-09-25,Standard Processing
3,CA-2019-100244,24/09/2019,25/09/2019,2019-09-20,2019-09-25,Standard Processing
4,CA-2019-100244,24/09/2019,25/09/2019,2019-09-20,2019-09-25,Standard Processing
...,...,...,...,...,...,...
6229,CA-2020-143259,NaN,NaN,2020-12-30,2021-01-06,Standard Processing
6230,CA-2020-143259,NaN,NaN,2020-12-30,2021-01-06,Standard Processing
6231,CA-2020-115427,NaN,NaN,2020-12-30,2021-01-06,Standard Processing
6232,CA-2020-115427,NaN,NaN,2020-12-30,2021-01-06,Standard Processing
6233,CA-2020-156720,NaN,NaN,2020-12-30,2021-01-06,Standard Processing

In [129]:
final_set = pd.merge(merge_df, merge_1_df, on="order_id", how="outer")
final_set

,index,order_id,order_date_x,ship_mode_x,customer_id,customer_name_x,origin_channel,country_region,city,state,...,quantity,discount,profit,arrival_scan_date,customer_name_y,ready_to_ship_date,pickup_date,order_date_y,on_truck_scan_date,ship_mode_y
0,27,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,3,0.0,11.7741,NaN,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
1,27,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,3,0.0,11.7741,NaN,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
2,26,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,2,0.2,4.2224,NaN,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
3,26,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,2,0.2,4.2224,NaN,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
4,45,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,2,0.0,19.7714,NaN,NaN,NaN,NaN,2019-03-11,2019-03-13,Express
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,9760,CA-2019-146913,2019-10-31,Standard Class,SF-20965,Sylvia Foulston,Sales,United States,San Francisco,California,...,5,0.2,70.1960,11/11/2019,Sylvia Foulston,NaN,NaN,2019-10-31,2019-11-06,Standard Processing
23167,9787,US-2017-114377,2017-11-05,First Class,BG-11035,Barry Gonzalez,Email,United States,Hampton,Virginia,...,5,0.0,40.4730,NaN,NaN,NaN,NaN,NaT,NaT,NaN
23168,9808,CA-2020-107209,2020-07-27,Second Class,JW-15955,Joni Wasserman,Email,United States,Raleigh,North Carolina,...,4,0.2,12.1780,NaN,NaN,NaN,NaN,2020-07-27,2020-08-05,Standard Processing
23169,9830,US-2020-152842,2020-07-16,Standard Class,NF-18385,Natalie Fritzler,Email,United States,Charlotte,North Carolina,...,3,0.2,15.1470,NaN,NaN,NaN,NaN,2020-07-16,2020-07-24,Standard Processing
23170,9880,CA-2019-122581,2019-08-21,Standard Class,JK-15370,Jay Kimmel,Email,United States,New York City,New York,...,7,0.1,63.6860,NaN,NaN,NaN,NaN,2019-08-21,2019-08-28,Standard Processing

In [130]:
# deleting the "index" column
final_set.drop("index", axis=1, inplace=True)

In [131]:
final_set

,order_id,order_date_x,ship_mode_x,customer_id,customer_name_x,origin_channel,country_region,city,state,postal_code,...,quantity,discount,profit,arrival_scan_date,customer_name_y,ready_to_ship_date,pickup_date,order_date_y,on_truck_scan_date,ship_mode_y
0,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,...,3,0.0,11.7741,NaN,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
1,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,...,3,0.0,11.7741,NaN,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
2,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,...,2,0.2,4.2224,NaN,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
3,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,...,2,0.2,4.2224,NaN,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
4,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,...,2,0.0,19.7714,NaN,NaN,NaN,NaN,2019-03-11,2019-03-13,Express
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,CA-2019-146913,2019-10-31,Standard Class,SF-20965,Sylvia Foulston,Sales,United States,San Francisco,California,94109.0,...,5,0.2,70.1960,11/11/2019,Sylvia Foulston,NaN,NaN,2019-10-31,2019-11-06,Standard Processing
23167,US-2017-114377,2017-11-05,First Class,BG-11035,Barry Gonzalez,Email,United States,Hampton,Virginia,23666.0,...,5,0.0,40.4730,NaN,NaN,NaN,NaN,NaT,NaT,NaN
23168,CA-2020-107209,2020-07-27,Second Class,JW-15955,Joni Wasserman,Email,United States,Raleigh,North Carolina,27604.0,...,4,0.2,12.1780,NaN,NaN,NaN,NaN,2020-07-27,2020-08-05,Standard Processing
23169,US-2020-152842,2020-07-16,Standard Class,NF-18385,Natalie Fritzler,Email,United States,Charlotte,North Carolina,28205.0,...,3,0.2,15.1470,NaN,NaN,NaN,NaN,2020-07-16,2020-07-24,Standard Processing
23170,CA-2019-122581,2019-08-21,Standard Class,JK-15370,Jay Kimmel,Email,United States,New York City,New York,10035.0,...,7,0.1,63.6860,NaN,NaN,NaN,NaN,2019-08-21,2019-08-28,Standard Processing

In [134]:
final_set['arrival_scan_date'] = pd.to_datetime(final_set['arrival_scan_date'], format='%d/%m/%Y')

In [135]:
final_set

,order_id,order_date_x,ship_mode_x,customer_id,customer_name_x,origin_channel,country_region,city,state,postal_code,...,quantity,discount,profit,arrival_scan_date,customer_name_y,ready_to_ship_date,pickup_date,order_date_y,on_truck_scan_date,ship_mode_y
0,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,...,3,0.0,11.7741,NaT,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
1,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,...,3,0.0,11.7741,NaT,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
2,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,...,2,0.2,4.2224,NaT,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
3,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,...,2,0.2,4.2224,NaT,NaN,NaN,NaN,2019-01-16,2019-01-23,Standard Processing
4,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,...,2,0.0,19.7714,NaT,NaN,NaN,NaN,2019-03-11,2019-03-13,Express
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,CA-2019-146913,2019-10-31,Standard Class,SF-20965,Sylvia Foulston,Sales,United States,San Francisco,California,94109.0,...,5,0.2,70.1960,2019-11-11,Sylvia Foulston,NaN,NaN,2019-10-31,2019-11-06,Standard Processing
23167,US-2017-114377,2017-11-05,First Class,BG-11035,Barry Gonzalez,Email,United States,Hampton,Virginia,23666.0,...,5,0.0,40.4730,NaT,NaN,NaN,NaN,NaT,NaT,NaN
23168,CA-2020-107209,2020-07-27,Second Class,JW-15955,Joni Wasserman,Email,United States,Raleigh,North Carolina,27604.0,...,4,0.2,12.1780,NaT,NaN,NaN,NaN,2020-07-27,2020-08-05,Standard Processing
23169,US-2020-152842,2020-07-16,Standard Class,NF-18385,Natalie Fritzler,Email,United States,Charlotte,North Carolina,28205.0,...,3,0.2,15.1470,NaT,NaN,NaN,NaN,2020-07-16,2020-07-24,Standard Processing
23170,CA-2019-122581,2019-08-21,Standard Class,JK-15370,Jay Kimmel,Email,United States,New York City,New York,10035.0,...,7,0.1,63.6860,NaT,NaN,NaN,NaN,2019-08-21,2019-08-28,Standard Processing

In [136]:
with pd.ExcelWriter("data/final_set.xlsx") as writer:
    final_set.to_excel(writer)